version: '3.8'
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: "Sahil@2003"
      MYSQL_DATABASE: skylinkdb
      MYSQL_USER: skylink
      MYSQL_PASSWORD: skylinkpass
    ports:
      - "3307:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
